* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.backdrop {
  width: 100%;
  height: 100%;
}

.movie-poster-details {
  margin: 4em 0;
}

.movie-poster {
  width: 90%;
  height: 92%;
}