* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  padding: 0.5rem 1rem 0.3rem 1rem;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 600;
}

.nav-link {
  font-size: 2rem;
  font-weight: 500;
}

.dropdown-item {
  font-size: 1.5rem;
}

/* Movie Card Deck */
.card-deck {
  justify-content: center;
}

.poster-card-link {
  display: flex;
}

.poster-card-link .card {
  margin: 0 1.5rem 3rem;
}

/* Movie Card Deck & Watchlist*/
.card h5, p {
  font-size: 1.5rem;
}

/* Poster */
.card {
  width: 25rem;
  align-items: stretch;
}

/* All h1s */
.container h1 {
  font-size: 5rem;
  margin: 3rem 0;
  text-align: center;
}

/* Loading */
.loading {
  text-align: center;
}

/* Movie Details Page */
.backdrop {
  width: 100%;
  height: 100%;
}

.movie-poster-details .col {
  margin: 6rem 4rem 4rem 0;
  padding: 0;
}

.movie-poster {
  width: 90%;
  height: 92%;
}

.movie-details .tagline {
  margin: 0.5rem 0 1rem 0;
  font-style: italic;
}

.movie-details p {
  margin: 0.8rem 0;
  font-size: 2rem;
}

.movie-details h2 {
  font-size: 4rem;
}

.movie-details h5 {
  margin: 1.6rem 0 0.5rem 0;
  font-size: 1.5rem;
}

.movie-details .btn {
  margin: 1.3rem 0;
  font-size: 1.7rem;
}

/* Home */
.home {
  text-align: center;
  font-size: 2rem;
}

.home h1 {
  padding: 2rem;
  font-size: 4rem;
}

.main-links {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 3rem;
}

/* Forms */
.form {
  width: 50%;
  font-size: 3rem;
}

.form .btn {
  padding: .4rem .8rem;
  margin: 0.5rem 0;
  font-size: 1.7rem;
}

.form-control {
  margin: 0.5rem 0 0.5rem;
  font-size: 2rem;
}

.first-input {
  margin: 0.5rem 0 1rem;
}
